<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Requests</title>
</head>
<body>
    <h1>All Requests</h1>
    <ul>
        {% for request_instance in all_requests %}
            <li>
                Request ID: {{ request_instance.id }},
                Type: {{ request_instance.request_type }},
                Urgency: {{ request_instance.urgency }},
                Status: {{ request_instance.status }}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_request' %}">Create New Request</a>
     <!-- Вставляем кнопку Logout -->
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>
